doctrine:
    dbal:
      charset: utf8mb4
        default_table_options:
          charset: utf8mb4
          collate: utf8mb4_unicode_ci
      default_connection: pgsql
      connections:
         #Postgresql
         pgsql:
              driver:   pdo_pgsql
              host:     "%psql_database_host%"
              port:     "%psql_database_port%"
              dbname:   "%psql_database_name%"
              user:     "%psql_database_user%"
              password: "%psql_database_password%"
              charset:  UTF8

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
